body {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#cabecera {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  margin: 0;
  position: fixed;
  background-color: #243e36;
  width: 100vw;
  padding-right: 8vw;
}

.container-fluid .nombre {
  font-size: 25px;
  font-family: 'Fredericka the Great';
  /*
  Vollkorn SC
  Major Mono Display
  Fredericka the Great
  Rajdhani
  BenchNine
  */

}

#container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

/*#post {
}*/
#footer {
  background: #243e36;
  color: #f5f5f5;
  text-align: center;
  padding-bottom: 0.1vh;
  font-size: 1.3vh;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
#container #block-text {
  font-size: 13px;
  text-align: justify;
}

#foto {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8%;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

h1 {
  font-size: 12px;
}

/*padding to avoid overlapping with the navbar*/
#home {
  padding-top: 18vh;
  margin-top: -12vh;
}
#education {
  padding-top: 12vh;
  margin-top: -12vh;
}
#research {
  padding-top: 12vh;
  margin-top: -12vh;
}
#others {
  padding-top: 12vh;
  margin-top: -12vh;
}
#experience {
  padding-top: 12vh;
  margin-top: -12vh;
}

/*bg colors*/
#home-color {
  background-color: #D5D5D5;
  padding: 3vw;
}
#educ-color {
  background-color: #f5f5f5;
  padding: 3vw;
}
#exp-color {
  background-color: #E9E2D8;
  padding: 3vw;
}
#res-color {
  background-color: #D5D5D5;
  padding: 3vw;
}
#others-color {
  background-color: #f5f5f5;
  padding: 3vw;
}

/*ICONS*/
.iconos
{
    height: 3.5vw;
    margin:1vw;
    padding: 0.5vw;
}
.iconos:hover{
    background-color: #69a297;
    border-radius: 100%;
}
