body {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#cabecera {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  margin: 0;
  position: fixed;
  background-color: #243e36;
  width: 100vw;
  padding-right: 8vw;
}

.container-fluid .nombre {
  font-size: 20px;
  /*Seria cool poner una tipografía especial como FIRMA*/
}

#container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

/*#post {
}*/
#footer {
  background: #243e36;
  color: #f5f5f5;
  text-align: center;
  padding: 0.5em;
}
#container #block-text {
  font-size: 13px;
  text-align: justify;
}

#foto {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8%;
    margin-right: 2vw;
}

h1 {
  font-size: 12px;
}

/*padding to avoid overlapping with the navbar*/
#home {
  padding-top: 12vh;
}
#education {
  padding-top: 6vh;
}
#research {
  padding-top: 6vh;
}
#others {
  padding-top: 6vh;
}
#experience {
  padding-top: 6vh;
}

/*bg colors*/
#home-color {
  background-color: #d8b365;
  padding: 3vw;
  padding-bottom: 6vh;
}
#educ-color {
  background-color: #f5f5f5;
  padding: 3vw;
  padding-bottom: 6vh;
}
#exp-color {
  background-color: #5ab4ac;
  padding: 3vw;
  padding-bottom: 6vh;
}
#res-color {
  background-color: #c7eae5;
  padding: 3vw;
  padding-bottom: 6vh;
}
#others-color {
  background-color: #5ab4ac;
  padding: 3vw;
  padding-bottom: 6vh;
}
